.sevirces-container {
    display: flex;
    align-items: center;
    justify-items: center;
}


.services-titulo {
    color: white;

    text-align: center;
}

.service-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.305);
    width: 250px;
    height: 250px;
    border-radius: 12px;
    padding: 12px;
    align-items: center;
}

.service-img {
    display: flex;
    align-items: center;
    background-color: aqua;
    width: 185px;
    height: 190px;
    border-radius: 20px;
}

.service-title {
    color: blue;
    font-size: 15px;
    font-weight: 700;
}

.btn-contacto-container {
    display: flex;
    justify-content: center;
    padding: 12px;
}

.btn-contacto {
    padding: 8px 40px;
    font-size: 19px;
    border-radius: 10px;
    background: transparent;
    color: white;
    font-weight: 700;
    border: 1px solid rgba(255, 255, 255, 0.484);
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
}

.btn-contacto:hover {
    background: rgba(209, 217, 221);
    color: blue;
}