:root {
  --steel-blue: #4873bd;
  --dodger-blue: #3277f6;
  --amazon: #386d59;
  --steel-gray: #271f3c;
  --geyser: #cbd5de;
  --leather: #9b6e5a;
  --gun-powder: #3a3b59;
  --cape-cod: rgb(55, 63, 60);
}