.blog-container {
    width: 100%;
    padding: 20px;

}

.blog-header {
    display: flex;
    justify-content: space-between;
    margin: auto;
}


.blog-header h1 {
    font-size: 45px;
    color: white;
    margin-left: 200px;
    display: flex;
}

.blog-input {
    padding: 12px 19px;
    border-radius: 14px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #ffffff;
    color: #333;
    width: 100%;

}

.blog-sections {
    display: flex;
    flex-direction: column;
    gap: 1px;

}

.blog-sections p {
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    margin: 10px 20px;

}


.blog-buttom {
    display: flex;
    padding: 6px;
    gap: 50px;
    margin-top: 1px;
    justify-content: space-between;

}

.blog-buttom span {
    color: aliceblue;
    font-size: 27px;
    font-weight: 700;
    gap: 12px;
}

.btn-blog {
    padding: 4px 50px;
    font-size: 19px;
    color: white;
    font-weight: 700;
    border: 1px solid rgba(255, 255, 255, 0.484);
    border-radius: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);

}

.blog-card {
    background-color: rgba(255, 255, 255, 0.305);
    width: 100%;
    height: auto;
    border-radius: 18px;
    margin-bottom: 20px;

}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.blog-card-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #ffffff33;
    padding-bottom: 20px;
    cursor: pointer;
}

.card-contentainer {
    max-width: 70%;
}

.blog-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #ffffff;
}

.blog-description {
    font-size: 14px;
    color: #e0e0e0;
    line-height: 1.4;
}

.blog-meta {
    display: flex;
    gap: 14px;
    margin-top: 14px;
    font-size: 13px;
    color: #ffffff;
}

.blog-meta span {
    display: flex;
    font-weight: 700;
    gap: 6px;
    color: #fff;
    font-size: 17px;
}




.blog-facoment {
    display: flex;
    margin: 3px;
    font-size: 20px;
}

.blog-fabookmark {
    display: flex;
    margin: 3px;
    font-size: 20px;
}

.blog-fahands {
    display: flex;
    margin: 3px;
    font-size: 20px;
}

.blog-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.blog-author-container {
    display: flex;

}

.blog-author {
    display: flex;
    justify-items: center;
    margin-top: 110px;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.blog-img {
    width: 153px;
    height: 140px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.blog-icon {
    width: 120px;
    height: 120px;
}