.blog-container {
    width: 100%;
    padding: 20px;

}

.blog-header {
    display: flex;
    justify-content: space-between;
    margin: auto;
}


.blog-header h1 {
    font-size: 45px;
    color: white;
    margin-left: 200px;
}

.blog-input {
    padding: 12px 19px;
    border-radius: 14px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #ffffff;
    color: #333;
    width: 100%;

}

.blog-sections {
    display: flex;
    flex-direction: column;
    gap: 1px;

}

.blog-sections p {
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    margin: 10px 20px;

}


.blog-buttom {
    display: flex;
    padding: 6px;
    gap: 50px;
    margin-top: 1px;
    justify-content: space-between;

}

.blog-buttom span {
    color: aliceblue;
    font-size: 27px;
    font-weight: 700;
    gap: 12px;
}

.btn-blog {
    padding: 4px 50px;
    font-size: 19px;
    color: white;
    font-weight: 700;
    border: 1px solid rgba(255, 255, 255, 0.484);
    border-radius: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);

}

.blog-card {
    padding: 10px 40px;
    display: flex;
    width: 100%;
    height: 430px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    justify-content: space-between;
    gap: 20px;
}

.card-header {
    display: flex;
    border-radius: 1px solid white;
    padding: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.blog-title {
    font-size: 24px;
    color: white;
    font-weight: 800;


}

.blog-description {
    font-size: 20px;
    font-weight: 700;
    color: white;
    transform: translateY(-20px);

}

.blog-img {
    padding: 10px;
    width: 224px;
    height: 160px;
    background-color: aqua;
    border-radius: 10px;
}