body {
    padding: 0px;
    margin: 0px;
    font-family: system-ui;
}

* {
    box-sizing: border-box;
}


.container-principal {
    display: flex;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.layout-content {
    background: linear-gradient(145deg,
            rgba(0, 50, 80, 1) 0%,
            rgba(40, 20, 90, 0.9) 40%,
            rgba(20, 10, 40, 1) 100%);
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.layout-main {
    flex: 1;
    overflow-y: scroll;
    padding: 20px;
    scrollbar-width: none;
}

.header {
    height: 50px;
    background: linear-gradient(145deg, #3c505b, #4e3e4b, #40373e);
    padding-bottom: 5px;
}

.home {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
}

.content {
    width: 100%;
    max-width: 1420px;
}

.profile-seccion {
    display: flex;
    flex-direction: column;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-up {
    animation: fadeUp 0.8s ease-out both;
}